nav {
  display: flex;
  justify-content: space-evenly;
  height: 55px;
  line-height: 55px;
  background: #404040;
}

nav .nav-list {
  display: flex;
}

nav .nav-list .nav-item {
  cursor: pointer;
  height: 100%;
  padding: 0 50px;
  transition: 0.4s;
}

nav .nav-list .nav-item:hover {
  background: #b69955;
}

nav .nav-list .nav-link {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 935px) {
  .row {
    flex-direction: column;
  }
  nav {
    width: 100%;
  }

  nav .nav-list .nav-item {
    padding: 0 30px;
  }
}

@media (max-width: 675px) {
  nav {
    justify-content: space-between;
    padding-left: 10px;
  }
  nav .nav-list {
    display: grid;
    position: absolute;
    background: #404040;
    width: 100%;
    top: 75px;
    left: 0;
    z-index: -1;
    transform: translateY(20%);
    transition: 0.6s;
  }
  nav .nav-list .nav-item {
    padding-left: 35px;
  }

  nav .navbar-toggler {
    display: grid !important;
  }
}
nav .navbar-toggler {
  display: none;
  height: min-content;
  margin: 16px -10px 0 0;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 30px;
  height: 3px;
  margin-bottom: 8px;
  background: #ffffff;
  border-radius: 10%;
  transition: 0.4s;
}

input {
  display: none;
}

input:checked ~ nav .nav-list {
  z-index: auto;
}

input:checked ~ nav .navbar-toggler {
  margin-top: 27px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}
